@model MVCAssignmentLayoutandViews.Models.PeopleM

@{
    ViewBag.Title = "People";
}

<h1>People</h1>

<h3>Search</h3>
<form action="@Url.Action("People")" method="post" )>
    <input type="text" name="Search" value="" placeholder="Search for people" />
    <input type="submit" value="Send" />
</form>


<h3>Add a Person</h3>
<form action="@Url.Action("People")" method="post" )>
    <input type="text" name="Addpeople" value="" placeholder="Add a person" />
    <input type="submit" value="Send" />
</form>

<table class="table-bordered table-striped">
    @foreach (var item in MVCAssignmentLayoutandViews.Models.PeopleM.Peoples)
    {
        <tr><td> @item.Name </td><td><a href="www.youtube.com">Delete</a></td></tr>
    }
</table>