@{
    ViewBag.Title = "FeverCheck";
}

<h2>Check if you got a fever or not</h2>

<form action="@Url.Action("FeverCheck")" method="post" )>
    <input type="number" name="msg" value="" placeholder="Enter your Tempature here" /><br />
    <input type="radio" name="scale" value="Celcius" checked />Celcius
    <input type="radio" name="scale" value="Fahrenheit" />Fahrenheit<br />
    <input type="submit" value="Send" />
</form>


<h3>@ViewBag.awnser</h3>