
@{
    ViewBag.Title = "Guessingame";
}

<h2>Guess a number between 1 and 100</h2>

<form action="@Url.Action("Guessingame")" method="post" )>
    <input type="number" name="guess" value="" placeholder="Enter between 1 - 100" />
    <input type="submit" value="Send" />
</form>

<p>@ViewBag.result</p>

