@model MVCAssignmentLayoutandViews.Models.PeopleM
<div id="@($"PeopleID" + Model.ID)">
    <h2>@Model.Name</h2>


    @Ajax.ActionLink("Delete", "AjaxDeletePeople", new { id = Model.ID },
                      new AjaxOptions
                      {
                          InsertionMode = InsertionMode.ReplaceWith ,
                          UpdateTargetId = $"PeopleID" + Model.ID
                      }, new { @class = "btn btn-danger" }
                      )
</div>
